body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

nav {
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: nav;
}

.button-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33%;
}
.button-sub-option {
  display: flex;
  align-items: center;
}

nav input {
  font-size: 2em;
  margin: 2px;
}

header {
  background-color: antiquewhite;
  grid-area: header;
  padding: 10px;
}

.main {
  grid-area: main;
  margin: 1%;
  background-color: antiquewhite;
  padding: 5px;
}

.aside {
  grid-area: aside;
  margin: 2%;
  background-color: antiquewhite;
  padding: 5px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'nav nav'
    'header header'
    'main aside';
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.center-item {
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.google-ads {
  display: none;
}

/* style option */
#bg-option {
  display: none;
}
#google-ads-option {
  display: none;
}
#text-ads-option {
  display: none;
}

input[type='text'] {
  font-size: 20px;
}

fieldset {
  height: 100px;
}

.text-custom {
  margin: 1px;
}

@media screen and (max-width: 780px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav'
      'header'
      'main'
      'aside';
  }
  nav {
    justify-content: center;
    flex-direction: column;
  }

  .button-option,
  .button-sub-option {
    flex-direction: column;
  }

  fieldset {
    margin: 10px;
  }

  header,
  aside {
    display: none;
  }
}
